// the funky selector is to have more specificity than the material defaults
.content .editor-page[class] > * // all the direct children in the layout
    overflow: auto
    max-height: calc(100vh - #{$navigation-height})

.editor-page
    .columnLeft
        overlow: auto
        height: 100%

    .sprite-tile-footer
        flex-direction: row
        display: flex
        justify-content: flex-end

        height: 40px
        padding: 0 5px 0 5px
        background-color: rgba(md-color("blue grey", 900), .7)

        .label
            font-size: 14px

    .general-icon
        font-size: 120px

    .runProject
        margin-right: 20px

    .editor
        @extend .page_block
        width: 100%
        height: calc(100vh - #{$navigation-height})

        .CodeMirror
            height: 100%

    sprites-list, blocks-list, .columnLeft .topRow
        @extend .page_block

    .project-name
        width: 100%
