// the funky selector is to have more specificity than the material defaults
.content .editor-page[class] > * // all the direct children in the layout
    max-height: calc(100vh - #{$navigation-height})
    overflow: auto

.editor-page
    .columnLeft
        overlow: auto
        height: 100%

    .sprite-tile-footer
        display: flex
        flex-direction: row
        justify-content: flex-end

        background-color: rgba(md-color("blue grey", 900), .7)
        padding: 0 5px 0 5px
        height: 40px

        .label
            font-size: 14px

    .general-icon
        font-size: 120px

    .runProject
        margin-right: 20px

    .editor
        @extend .pageBlock
        width: 100%
        height: calc(100vh - #{$navigation-height})

        .CodeMirror
            height: 100%

    sprites-list, blocks-list, .columnLeft .topRow
        @extend .pageBlock

    .project-name
        width: 100%
