.content .editor-page[class] > * // all the direct children in the layout
    max-height: calc(100vh - #{$navigation-height})
    overflow: auto

.editor-page
    .columnLeft
        overlow: auto
        height: 100%

    .spriteTile
        width: 100%
        height: 100%
        display: flex
        flex-direction: column-reverse // align footer to bottom

        .footer
            overflow: hidden
            height: 15px
            padding: 15px
            padding-right: 0px

            .label
                width: calc(100% - 24px)

    .runProject
        margin-right: 20px

    .editor
        @extend .pageBlock
        width: 100%
        height: calc(100vh - #{$navigation-height})

        .CodeMirror
            height: 100%

    sprites-list, blocks-list, .columnLeft .topRow
        @extend .pageBlock

    .project-name
        width: 100%
