@import url(layout.css);
@import url(validate.css);
@import url(runProject.css);
@import url(syntaxHighlighter.css);
/* line 13, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
html, body {
  cursor: default; }

/* line 17, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
img.icon {
  height: 20px;
  width: auto;
  margin-left: 6px;
  cursor: pointer; }

/* line 26, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.add.icon {
  height: 25px;
  width: 25px; }

/* line 30, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.remove.icon {
  float: right; }

/* line 34, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.costume .remove.icon, .variables .remove.icon {
  float: none; }

/* line 38, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.textarea, .syntaxHighlightContainer span {
  outline: none;
  line-height: 20px;
  font-size: 14px;
  overflow: auto;
  font-family: anonymousPro;
  resize: none; }

/* line 51, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings {
  overflow: auto;
  height: 100%; }

/* line 56, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input {
  background-color: rgba(0, 0, 0, 0.1);
  outline-color: transparent;
  border-color: transparent;
  margin-right: 10px;
  padding: 4px;
  outline: 0; }

/* line 66, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input[type='text'] {
  width: 250px; }

/* line 70, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input[type="button"], [ng-click] {
  cursor: pointer; }

/* line 74, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .costume {
  white-space: normal;
  margin-left: 142px;
  padding: 20px;
  overflow: hidden;
  text-align: left; }

/* line 82, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .costume p {
  margin-bottom: 0; }

/* line 86, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .new[type=button] {
  padding: 3px 20px 3px 20px;
  margin-left: 20px;
  cursor: pointer; }

/* line 93, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.editableImage .bar .upload {
  cursor: pointer; }

/* line 98, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.header h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 1px rgba(131, 134, 149, 0.89);
  text-align: center; }

/* line 110, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.left.header h1 {
  font-size: 25px; }
  /* line 113, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
  .left.header h1 input {
    font-family: inherit;
    font-size: inherit; }
/* line 120, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.left.header .tabs input[type=button] {
  box-shadow: 0 0 0 0;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 7px;
  cursor: pointer; }

/* line 127, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#sprites li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  background-color: #bebfc5; }

/* line 137, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#sprites {
  padding: 15px;
  padding-top: 7px;
  margin: 0; }

/* line 143, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite li p:empty::after {
  content: "undefined"; }

/* line 147, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite .image {
  cursor: pointer; }

/* line 151, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite p {
  text-align: center;
  margin: 5px; }

/* line 155, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite img {
  clear: right;
  width: 100px;
  max-height: 100px; }

/* line 163, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.variables {
  list-style: none;
  white-space: normal; }

/* line 168, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.variables li {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 174, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
pre {
  font-family: anonymousPro; }

/* line 178, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
img {
  pointer-events: none; }


/*# sourceMappingURL=base.css.map */