/* line 13, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
html, body {
  cursor: default; }

/* line 17, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
img.icon {
  height: 20px;
  width: auto !important;
  margin-left: 6px;
  cursor: pointer; }

/* line 27, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.textarea {
  outline: none;
  line-height: 20px;
  font-size: 14px;
  overflow: auto;
  font-family: anonymousPro;
  resize: none; }

/* line 40, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings {
  overflow: auto;
  height: 100%; }

/* line 45, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input {
  background-color: rgba(0, 0, 0, 0.1);
  outline-color: transparent;
  border-color: transparent;
  margin-right: 10px;
  padding: 4px;
  outline: 0; }

/* line 55, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input[type='text'] {
  width: 250px; }

/* line 59, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input[type="button"] {
  cursor: pointer; }

/* line 63, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .costume {
  white-space: normal;
  margin-left: 142px;
  padding: 20px;
  overflow: hidden;
  text-align: left; }

/* line 71, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .costume p {
  margin-bottom: 0; }

/* line 74, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .costume img {
  width: 100px; }

/* line 78, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .new[type=button] {
  padding: 3px 20px 3px 20px;
  margin-left: 20px;
  cursor: pointer; }

/* line 86, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.header h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 1px rgba(131, 134, 149, 0.89);
  text-align: center; }

/* line 99, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.left.header .tabs input[type=button] {
  box-shadow: 0 0 0 0;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 7px;
  cursor: pointer; }

/* line 106, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#sprites li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  padding: 15px;
  background-color: #bebfc5; }

/* line 118, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#sprites {
  padding: 15px;
  padding-top: 7px;
  margin: 0; }

/* line 124, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite-controls ul {
  margin: 0;
  padding: 0;
  text-align: right; }

/* line 131, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite-controls li {
  display: inline;
  list-style: none;
  padding: 7px;
  border-radius: 3px;
  background-color: #a4a7b2; }

/* line 141, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite-controls {
  display: block; }

/* line 145, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite li p:empty::after {
  content: "undefined"; }

/* line 149, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite p {
  text-align: center;
  margin: 5px; }

/* line 153, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite img {
  width: 100px;
  max-height: 100px; }

/* line 159, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.variables {
  list-style: none;
  white-space: normal; }

/* line 164, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
pre {
  font-family: anonymousPro; }

/* line 11, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 16, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
body {
  padding: 0;
  margin: 0; }

/* line 21, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 27, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.parent.header {
  height: 80px; }

/* line 31, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.right.header {
  display: inline-block;
  width: 40%;
  height: inherit;
  float: right; }

/* line 40, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.right.header h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 44, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.left.header {
  position: relative;
  display: inline-block;
  width: 60%;
  height: inherit;
  text-align: right;
  vertical-align: bottom; }
  /* line 55, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
  .left.header .tabs {
    position: absolute;
    bottom: 0;
    right: 0; }
    /* line 60, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
    .left.header .tabs input[type=button] {
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 3px 3px 0 0; }

/* line 71, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#content {
  width: 100%;
  height: 100%; }

/* line 77, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sidebar {
  float: right;
  width: 40%;
  padding: 20px;
  height: calc(100% - 80px);
  overflow: auto; }

/* line 87, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sprites .background {
  display: block;
  margin-top: 25px; }

/* line 93, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sidebar li {
  min-width: 150px; }

/* line 97, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sidebar hr {
  margin: 14px; }

/* line 102, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#editors {
  float: left;
  clear: both;
  width: 60%;
  height: calc(100% - 80px); }

/* line 109, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
editor {
  float: inherit;
  width: 100%;
  height: 100%; }

/* line 115, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 0; }

/* line 125, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#code {
  height: 100%;
  width: 100%; }

/* line 131, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#settings {
  padding: 30px;
  padding-top: 10px; }

/* line 136, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.variables {
  padding: 0;
  margin: 0;
  margin-left: 160px; }

/*# sourceMappingURL=base.css.map */