/* line 13, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
html, body {
  cursor: default; }

/* line 17, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
img.icon {
  height: 20px;
  width: auto;
  margin-left: 6px;
  cursor: pointer; }

/* line 26, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.add.icon {
  height: 25px;
  width: 25px; }

/* line 30, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.remove.icon {
  float: right; }

/* line 34, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.costume .remove.icon, .variables .remove.icon {
  float: none; }

/* line 38, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.textarea, .syntaxHighlightContainer span {
  outline: none;
  line-height: 20px;
  font-size: 14px;
  overflow: auto;
  font-family: anonymousPro;
  resize: none; }

/* line 51, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings {
  overflow: auto;
  height: 100%; }

/* line 56, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input {
  background-color: rgba(0, 0, 0, 0.1);
  outline-color: transparent;
  border-color: transparent;
  margin-right: 10px;
  padding: 4px;
  outline: 0; }

/* line 66, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input[type='text'] {
  width: 250px; }

/* line 70, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings input[type="button"], [ng-click] {
  cursor: pointer; }

/* line 74, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .costume {
  white-space: normal;
  margin-left: 142px;
  padding: 20px;
  overflow: hidden;
  text-align: left; }

/* line 82, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .costume p {
  margin-bottom: 0; }

/* line 86, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#settings .new[type=button] {
  padding: 3px 20px 3px 20px;
  margin-left: 20px;
  cursor: pointer; }

/* line 93, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.editableImage .bar .upload {
  cursor: pointer; }

/* line 98, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.header h1 {
  padding: 0;
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 1px rgba(131, 134, 149, 0.89);
  text-align: center; }

/* line 110, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.left.header h1 {
  font-size: 25px; }
  /* line 113, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
  .left.header h1 input {
    font-family: inherit;
    font-size: inherit; }
/* line 120, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.left.header .tabs input[type=button] {
  box-shadow: 0 0 0 0;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 7px;
  cursor: pointer; }

/* line 127, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#sprites li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  background-color: #bebfc5; }

/* line 137, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
#sprites {
  padding: 15px;
  padding-top: 7px;
  margin: 0; }

/* line 143, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite li p:empty::after {
  content: "undefined"; }

/* line 147, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite .image {
  cursor: pointer; }

/* line 151, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite p {
  text-align: center;
  margin: 5px; }

/* line 155, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
sprite img {
  clear: right;
  width: 100px;
  max-height: 100px; }

/* line 163, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.variables {
  list-style: none;
  white-space: normal; }

/* line 168, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
.variables li {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 174, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/base.scss */
pre {
  font-family: anonymousPro; }

/* line 11, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
html, body {
  height: 100%;
  width: 100%; }

/* line 16, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
body {
  padding: 0;
  margin: 0; }

/* line 21, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
hr {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 27, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.parent.header {
  height: 80px; }

/* line 31, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.right.header {
  display: inline-block;
  width: 40%;
  height: inherit;
  float: right; }

/* line 40, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.right.header h1 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 44, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.left.header {
  position: relative;
  display: inline-block;
  width: 60%;
  height: inherit;
  text-align: right;
  vertical-align: bottom; }
  /* line 54, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
  .left.header h1 {
    display: inline-block;
    float: left;
    margin: 20px 110px 20px 20px;
    width: 300px; }
    /* line 60, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
    .left.header h1 input {
      width: 100%;
      border: medium none;
      padding: 8px 5px 5px; }
  /* line 67, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
  .left.header .tabs {
    position: absolute;
    bottom: 0;
    right: 0; }
    /* line 72, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
    .left.header .tabs input[type=button] {
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 3px 3px 0 0; }

/* line 83, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#content {
  width: 100%;
  height: 100%; }

/* line 89, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sidebar {
  float: right;
  width: 40%;
  padding: 20px;
  height: calc(100% - 80px);
  overflow: auto; }

/* line 99, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sprites .background {
  display: block;
  margin-top: 25px; }

/* line 105, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
sprite img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* line 112, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sidebar li {
  min-width: 150px; }

/* line 116, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#sidebar hr {
  margin: 14px; }

/* line 121, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#editors {
  float: left;
  clear: both;
  width: 60%;
  height: calc(100% - 80px); }

/* line 128, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.editor {
  float: inherit;
  width: 100%;
  height: 100%; }

/* line 134, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.textarea {
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 0; }

/* line 144, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#code {
  height: 100%;
  width: 100%; }

/* line 150, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#settings {
  padding: 30px;
  padding-top: 10px; }

/* line 155, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#settings .indent, #settings input.indent[type] {
  margin-left: 100px; }

/* line 158, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
#settings p {
  margin-top: 25px;
  margin-bottom: 25px; }

/* line 163, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.variables {
  padding: 0;
  margin: 0; }

/* line 168, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.editableImage {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px; }

/* line 176, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.editableImage img {
  max-width: 100%;
  max-height: 100%; }

/* line 181, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.editableImage .bar .upload {
  box-sizing: padding-box;
  height: 30px;
  width: auto !important;
  float: right;
  margin: 7px; }

/* line 190, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.editableImage .bar {
  position: absolute;
  width: 100px; }

/* line 196, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.editableImage .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none; }

/* line 204, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/layout.scss */
.editableImage:hover .overlay {
  display: block !important; }

/* line 1, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/validate.scss */
input.ng-dirty.ng-invalid {
  box-shadow: 0 0 2.8px red; }

/* line 1, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/runProject.scss */
.runProject {
  background-color: black;
  color: white;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }

/* line 12, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/runProject.scss */
.runProject .inner {
  height: 100%;
  position: relative;
  width: 100%; }
  /* line 17, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/runProject.scss */
  .runProject .inner .header {
    position: fixed;
    right: 5px;
    top: 5px; }
    /* line 22, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/runProject.scss */
    .runProject .inner .header .minimize {
      width: 30px; }
  /* line 27, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/runProject.scss */
  .runProject .inner iframe {
    height: 100%;
    width: 100%; }

/* line 1, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.editor {
  position: relative; }
  /* line 4, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
  .editor .textarea {
    opacity: .3; }

/* line 9, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.syntaxHighlightContainer {
  margin-top: 1px;
  padding: 15px;
  position: absolute;
  top: 0;
  z-index: -10; }

/* line 17, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.motion {
  color: #738dde; }

/* line 20, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.looks {
  color: #8956d7; }

/* line 23, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.sound {
  color: #ba41c3; }

/* line 26, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.pen {
  color: #0e9a6b; }

/* line 29, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.data {
  color: #ee7e17; }

/* line 32, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.events {
  color: #c98531; }

/* line 35, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.control {
  color: #e0a81a; }

/* line 38, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.sensing {
  color: #2ca6e2; }

/* line 41, /Users/daniel/Desktop/etch/etchcode/static/editor/styles/syntaxHighlighter.scss */
.operators, .string, .number {
  color: #5bb512; }

/*# sourceMappingURL=base.css.map */