@mixin reset-button{
	box-shadow: 0 0 0 0;
	border: none;
	outline: none;
	
	font-size: 1em;
	
	padding: 7px;
	
	cursor: pointer;
}

html, body{
	cursor: default;
}

img.icon{
	height: 20px;
	width: auto;
	
	margin-left: 6px;
	
	cursor: pointer;
}

.add.icon{
	height: 25px;
	width: 25px;
}
.remove.icon{
	float: right;
}

.costume .remove.icon, .variables .remove.icon{
	float: none;
}
// editor
.textarea, .syntaxHighlightContainer span{
	outline: none;
	
	line-height: 20px;
	font-size: 14px;
	
	overflow: auto;
	
	font-family: anonymousPro;
	resize: none;
}

//config
#settings{
	overflow: auto;
	height: 100%;
}

#settings input{
	background-color: hsla(0, 0%, 0%, .1);
	outline-color: transparent;
	border-color: transparent;
	margin-right: 10px;
	padding: 4px;
	
	outline: 0; // disable chrome+'s blue annoying thingy around it
}

#settings input[type='text']{
	width: 250px;
}

#settings input[type="button"], [ng-click]{
	cursor: pointer;
}

#settings .costume{
	white-space: normal;
	margin-left: 142px; // indent this
	padding: 20px;
	
	overflow: hidden;
	text-align: left;
}
#settings .costume p{
	margin-bottom: 0;
}

#settings .new[type=button]{
	// this is the add new costume button
	padding: 3px 20px 3px 20px;
	margin-left: 20px; // offset the left padding so that the padded edge ligns up with the images and other text 
	cursor: pointer;
}

.editableImage .bar .upload{
	cursor: pointer;
}

//header
.header h1{
	padding: 0;
	margin: 0;
	
	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 1px hsla(229, 8%, 55%, 0.89);
	text-align: center;
}


.left.header {
	h1{
		font-size: 25px;
		
		input{
			font-family: inherit;
			font-size: inherit;
		}
	}
	
	.tabs{
		input[type=button]{
			@include reset-button;
		}
	}
}

//sprites
#sprites li{
	list-style: none;
	display: inline-block;
		
	margin: 10px;
	
	padding: 15px;
	background-color: hsla(229, 6%, 76%, 1);
}

#sprites {
	padding: 15px;
	padding-top: 7px;
	margin: 0;
}

sprite li p:empty::after {
  content: "undefined";
}

sprite .image{
	cursor: pointer;
}

sprite p{
	text-align: center;
	margin: 5px;
}
sprite img{
	clear: right; //clear the remove icon
	
	width: 100px;
	max-height: 100px;
}

//variables section
.variables{
	list-style: none;
	white-space: normal;
}

.variables li{
	margin-top: 5px;
	margin-bottom: 5px;
}
//end variables

pre {
	font-family: anonymousPro;
}

@import "layout.scss";
@import "validate.scss";
@import "runProject.scss";
@import "syntaxHighlighter.scss";