.runProject{
	position: fixed;
	z-index: 9999;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
	
	background-color: black;
	color: white;
}
.runProject.show{
	display: block;
}

.runProject .inner{
    position: relative;
    
    width: 100%;
    height: 100%;
}

.runProject iframe{    
    width: 100%;
    height: 100%;
}