.runProject{
	background-color: black;
	color: white;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}

	.runProject .inner{
		height: 100%;
		position: relative;
		width: 100%;
	
		.header{
			position: fixed;
			right: 5px;
			top: 5px;
			
			.minimize{
				width: 30px;
			}
		}
		
		iframe{ 
			height: 100%;
			width: 100%;
		}
	}