.runProject{
    position: fixed;
    top: 5%;
    left: 5%;
    
    width: 90%;
    height: 90%;
}

.runProject .inner{
    position: relative;
    
    width: 100%;
    height: 100%;
}

.runProject iframe{    
    width: 100%;
    height: 100%;
}