/* typography */
@font-face {
  font-family: anonymousPro;
  src: url(/libs/anonymousPro.ttf);
}
/* end typography */
html, body{
	height: 100%; /* this line and the line below it disable bouncy scrolling on OSX */
	overflow: hidden;
	cursor: default;
}

[unselectable] {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}
[selectable] {
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: -moz-all;
	-o-user-select: all;
	user-select: all;
}

#content {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	
	padding: 0;
	margin: 0;
	
	background-color: hsla(229, 8%, 53%, 1);
}

#editors {
	float: left;
	width: 60%;
	height: 100%;
}

editor {
	float: inherit;
	width: 100%;
	height: 100%;
}

.textarea {
	width: calc(100% - 29px);
	height: calc(100% - 29px);
	
	padding: 15px;
	outline: none;
	
	line-height: 20px;
	font-size: 14px;
	
	overflow: auto;
	
	font-family: anonymousPro;
	border: 0;
	resize: none;
}

html {
	width: 100%;
	height: 100%;
	
	margin: 0;
	padding: 0;
}

#autocomplete {
	display: none;
	
	position: fixed;
	top: 0;
	left: 0;
	
	list-style: none;
	padding: 5px;
	
	border-radius: 3px
}

#sidebar {
	float: right;
	width: calc(40% - 40px);
	padding: 20px;
	
	height: calc(100% - 116px);
}

#header {
	width: calc(40% - 30px);
	height: 47px;
	
	float: right;
	
	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 1px hsla(229, 8%, 55%, 0.89);
	text-align: center;
	
	padding: 15px
}

#sprites li{
	list-style: none;
	display: inline-block;
	
	cursor: pointer;
	
	margin: 10px;
	
	padding: 15px;
	background-color: hsla(229, 6%, 76%, 1);
}

#sprites {
	padding: 15px;
	margin: 0;
}

sprite-controls ul {
	margin: 0;
	padding: 0;
	
	text-align: right;
}

sprite-controls li {
	display: inline;
	list-style: none;
	
	padding: 7px;
	border-radius: 3px;
	
	background-color: hsla(229, 8%, 67%, 1);
}

sprite-controls {
	display: block;
}

#code {
	height: 100%;
	width: 100%;
}

#codeOrSettings {
	position: fixed;
	bottom: 15px;
	left: 15px;
	
	padding: 8px;
	border-radius: 3px;
	color: hsla(229, 8%, 67%, 1);
	
	opacity: .4;
}
#codeOrSettings:hover {
	opacity: 1;
}

#settings {
	padding: 30px;
	padding-top: 10px;
}

pre {
	font-family: anonymousPro;
}
