<md-toolbar class="mainHeader md-whiteframe-4dp"> <!-- md-whiteframe sets the appropriate z-height <https://www.google.com/design/spec/what-is-material/elevation-shadows.html#elevation-shadows-elevation-android-> -->
    <div class="md-toolbar-tools">

        <md-button class="md-icon-button" ng-click="toggleSideNav()">
            <md-icon md-font-set="material-icons">menu</md-icon>
        </md-button>

        <h1>
            <a class="md-button" href="/">
                Etch Code

                <span ng-show="pageName">
                     - {{ pageName }}
                </span>
            </a>
        </h1>

        <div class="account-section">
            <div class="login-buttons" ng-show="!current_user.logged_in">
                <!-- give them id's so that in navigation.js we can bind handlers
                to them using google's login library-->
                <div id="login-button"></div>
            </div>

            <md-menu class="userMenu" ng-show="current_user.logged_in">
                <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon>account_circle</md-icon>
                </md-button>

                <md-menu-content ng-click="$mdMenu.hide()">
                    <md-menu-item>
                        <md-button href="/account">
                            My Account
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="logout()">Signout</md-button> <!-- navigator.id.logout must be done in the onclick handler of the element, not ng-click -->
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>

    </div>
</md-toolbar>

<div class="mainHeaderSpacer"></div> <!-- fills up space = to mainHeader so that content doesn't get behind mainHeader -->

<md-sidenav class="md-sidenav-left navigation" md-is-open="sideNavOpen" ng-click="toggleSideNav()">
    <nav>
        <div class="current_user-section" ng-if="current_user.logged_in">
            <h2>
                <md-button ng-click="create_project()">
                    <md-icon>create</md-icon>
                    Create Project
                </md-button>
            </h2>
            <h2>
                <md-button href="/projects">
                    <md-icon>list</md-icon>
                    My Projects
                </md-button>
            </h2>

            <md-divider></md-divider>
        </div>

        <div class="general-section">
            <h2><md-button href="/explore/projects">
                <md-icon>explore</md-icon>
                Explore Projects
            </md-button></h2>
        </div>

        <div class="help-section">
            <md-divider></md-divider>

            <h2>
                <a class="md-button" href="/help">
                    <md-icon>help</md-icon>
                    Help &amp; Feedback
                </a>
            </h2>

            <h2>
                <a class="md-button" href="/docs">
                    <md-icon>description</md-icon>
                    Documentation
                </a>
            </h2>
        </div>
    </nav>
</md-sidenav>
