<md-content class="projects-page" ng-controller="projectsController as projects">
    <md-input-container>
        <label>Search projects</label>
        <input ng-model="projects.search_text">
    </md-input-container>

    <md-list class="projects-list">
        <md-list-item class="project project-creating">
            <md-input-container>
                <label>New project name</label>
                <input ng-model="projects.creating">
            </md-input-container>

            <md-button class="md-raised md-secondary new-project"
                       ng-click="projects.create(projects.creating)">Create Project</md-button>
        </md-list-item>

        <md-list-item ng-repeat="project in projects.list()" class="project">
            <div class="image-container">
                <img ng-if="project.thumbnail" ng-src="{{ project.thumbnail }}" alt="project {{ project.name }} thumbnail">
            </div>
            <div class="actions-container">
                <div class="top-row">
                    <span class="project-name">{{ project.name }}</span>
                </div>
                <div class="bottom-row">
                    <md-button ng-href="#/project/{{ project.key }}/{{ project.name }}/view">view</md-button>
                    <md-button ng-href="#/project/{{ project.key}}/{{ project.name }}/edit">edit</md-button>
                    <md-button ng-click="projects.delete(project.key)">delete</md-button>
                </div>
            </div>
        </md-list-item>
    </md-list>
</md-content>
