<md-card class="runProject" ng-style="{visibility: show ? 'visible' : 'hidden'}"> <!-- This CANNOT be display:none. Error NS_ERROR_FAILURE is thrown by the browser. The iframe must occupy space. Instead, use visibility:hidden and position:fixed to stop it from making a gap -->

    <div class="inner">
        <iframe ng-src="{{PLAYER_URL}}" class="player" id="player"
        sandbox="allow-scripts allow-same-origin"></iframe>
    </div>

    <md-button class="md-fab md-mini playPause" aria-label="Play/Pause project" ng-click="toggleStartStop()">
        <md-icon md-font-set="material-icons" ng-show="!running">flag</md-icon>
        <md-icon md-font-set="material-icons" ng-show="running">stop</md-icon>
    </md-button>

</md-card>
