<div class="sprites">
    <h3>
        Sprites
        <md-button class="md-icon-button" ng-click="new_sprite()">
            <md-icon md-font-set="material-icons">add_circle_outline</md-icon>
        </md-button>
    </h3>

    <md-grid-list md-row-height="1:1" md-gutter="15px"
    md-cols="4"
    md-cols-sm="1"
    md-cols-md="2"
    md-cols-lg="3"
    md-cols-gt-lg="4">
        <md-grid-tile ng-repeat="sprite in sprites.list" class="sprite-tile"
                      ng-click="sprites.current = sprite"
                      style="background-image: url('{{ sprite.costumes[0].data }}')">
            <md-grid-tile-footer class="sprite-tile-footer">
                <span class="label">{{ sprite.id }}</span>

                <md-button class="md-icon-button md-secondary" ng-click="sprite_settings(sprite)">
                    <md-icon md-font-set="material-icons" class="material-icons md-light">info_outline</md-icon>
                </md-button>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="sprite-tile background"
                      ng-click="sprites.current = sprites.background"
                      style="background-image: url('{{ sprites.background.costumes[0].data }}')">
            <md-grid-tile-footer class="sprite-tile-footer">
                <span class="label">background</span>

                <md-button class="md-icon-button md-secondary" ng-click="sprite_settings(sprites.background)">
                    <md-icon md-font-set="material-icons" class="material-icons md-light">info_outline</md-icon>
                </md-button>
            </md-grid-tile-footer>
        </md-grid-tile>

        <md-grid-tile class="sprite-tile general">
            <md-icon class="general-icon">settings</md-icon>

            <md-grid-tile-footer class="sprite-tile-footer">
                <span class="label">general</span>
                <md-button class="md-icon-button md-secondary" ng-click="sprite_settings(sprites.general)">
                    <md-icon md-font-set="material-icons" class="material-icons md-light">info_outline</md-icon>
                </md-button>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>
