<md-card class="blocks">
    <md-card-content>
        <md-grid-list md-cols="2" md-row-height="23px" md-gutter="5px"> <!-- md-row-height is md-button padding top + padding bottom + font-size -->
            <md-grid-tile ng-repeat="parent in scratchParentOrder" class="parent">
                <md-button>
                    {{ parent }}
                </md-button>
            </md-grid-tile>
        </md-grid-list>

        <br>
        <md-divider></md-divider>


    </md-card-content>
</md-card>