<div markdown>
### Etch is a written language

In Etch, you write out your code instead of dragging blocks in. For instance, in Scratch a simple program to say “Hello World" would look like this:

![Scratch Hello World](images/scratch_hello_world.png)

In Etch, the same program would be written

	Events.when flag clicked:
		Looks.say(“Hello World")
	
### Every block in Scratch directly corresponds with a few words in Etch

As you can see, every block in Scratch directly corresponds with a few words in Etch. After a while, you will learn the words and will not need to check the documentation often. However, at the beginning, you may want to keep this page open in a tab.
	
### Basic data types

The basic data types are strings, numbers, and options (A string is a group of text). To make something a string, just put it in quotes. As you saw above, to make the sprite say `Hello World` you need to put `Hello World` in quotes. To write a number, you don’t have to do anything special. An option is a dropdown menu choice that would be built into Scratch, such as the option `ghost` for `Looks.set effect(ghost, 20)`. Options are written without quotes. 

### Block Types
	
In Scratch, you have blocks that represent a string or number (like the block for the mouse position) and blocks that do something (like move the sprite). In Etch, blocks that represent strings or numbers are written as just the words (`Sensing.mouse x`). Blocks that do things are written with parentheses (`Motion.if edge bounce()`).

Blocks that are headers, like `Control.when flag clicked`, have colons (":") after them in Etch. Then, any blocks that would be attatched to them are indented. For instance

	Events.when flag clicked:
		Looks.say(“Hello World")
		
		Control.forever:
			Motion.move(10)

### Telling blocks things
	
Blocks can be told things by putting what you want to tell them in the parenthesis.

	Motion.move(10)

To tell a block multiple things, seperate them things that you want to tell them with commas.

	Operators.pick random between(1, 3)

Blocks can be told numbers, strings, options, or the result of other blocks.

* Number: `Motion.move(10 + 5)`
* Strings : `Looks.say("Hello World")`
* Options: `Sensing.touching(mouse-pointer)`
* Result of other blocks: `Looks.say(Operators.pick random between(1, 3))`

### Multiple Groups of Blocks

In Scratch, you have multiple different groups of blocks under on header block. For instance,

![Scratch Hello World with Threading](images/scratch_hello_world_threading.png)

In Etch, you can’t write multiple groups side by side. Instead, you would write it like this

	Events.when flag clicked:
		Looks.say(“Hello World")
 	
	Events.when key pressed(space):
		Looks.think(“Even though you can be cruel")

</div>