<div class="sprite">
	<li>
		<img ng-click="sprites.remove(sprite)" ng-src="images/icons/remove_{{ removeIconColor() }}.svg" class="remove icon action" ng-hide="sprite.id === 'background' || sprite.id === 'general'">

		<div ng-click="sprites.current = sprite.id" class="image">
			<img ng-src="{{ sprite.costumes[0].data }}" ng-hide="sprite.id === 'general'">
			<img ng-src="{{ sprite.thumbnail }}" ng-show="sprite.id === 'general'"> <!--fetch the thumbnail it it is the general sprite-->
			<br>
			<p>{{ sprite.id }}</p>
		</div>
	</li>
</div>