// typography 
@font-face {
  font-family: anonymousPro;
  src: url(/static/libs/anonymousPro.ttf);
}

h1, h2, h3{
	text-align: center;
}
// end typography 

// modfiy user selectability in the format <div selectable> or <div unselectable>
[unselectable] {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-o-user-select: none;
	user-select: none;
}
[selectable] {
	-webkit-user-select: all;
	-khtml-user-select: all;
	-moz-user-select: -moz-all;
	-o-user-select: all;
	user-select: all;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

* {box-sizing: border-box;}

