h1{
	width: calc(100% - 300px);
	float: right;
}

h2{
	height: 26px;
}

p{
	clear: both;
}

.sidebar{
	height: 100vh;
	overflow: auto;
	padding: 15px;
	position: fixed;
	width: 300px;
	
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	
	h3{
		margin: 10px 0 10px 0;
	}
	
	.property{
		margin-left: 15px;
	}
}

.details{
	float: right;
	margin-bottom: 100px; // to account for the banner
	padding: 15px;
	width: calc(100% - 300px);
	
	> ul{
		padding: 0;
		margin: 0;
	}
}
	.explanation{
		padding: 15px;
	}

.banner{
	bottom: 0;
	padding: 20px;
	position: fixed;
	right: 0;
	width: calc(100vw - 300px); //300px is width of sidebar
}