/* line 1, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colorPicker.scss */
.colorInput {
  bottom: 5px;
  position: absolute;
  right: 5px; }

/* line 7, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colorPicker.scss */
.colorPicker.icon {
  float: right;
  height: 50px;
  width: 50px; }

/* line 13, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colorPicker.scss */
.colorpickerContainer {
  margin-right: 50px;
  width: 200px; }

/* line 18, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colorPicker.scss */
.colorpickerValue {
  background: rgba(255, 255, 255, 0.4);
  border: 0;
  margin-bottom: 7px;
  padding: 5px;
  text-align: center;
  width: 200px; }

/* line 10, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.enabled[type=button], .enabled li, li.enabled {
  background-color: #212121 !important;
  color: #dbdce1; }

/* line 15, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
#editors {
  background-color: #212121; }

/* line 19, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
#editors .CodeMirror {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #212121; }
  /* line 25, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
  #editors .CodeMirror .CodeMirror-gutters {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* line 32, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.cm-s-ambiance.CodeMirror {
  color: #abaeba; }

/* line 36, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.editableImage .overlay {
  background-color: rgba(171, 174, 186, 0.8); }

/* line 40, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.property.unsupported {
  color: #990000; }

/* line 44, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.explanation {
  background-color: #e6e6e6; }

/* line 48, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.banner {
  background-color: #6699ff;
  color: white; }
  /* line 52, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
  .banner a {
    color: white; }

/* line 57, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.enabled:not(.sprite) {
  background-color: #212121; }

/* line 62, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
header.maximized {
  background-color: #212121;
  color: #dbdce1; }
  /* line 66, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
  header.maximized nav a {
    color: #85868a;
    text-decoration: none; }

/* line 73, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
header.minimized nav a {
  color: #212121;
  text-decoration: none; }

/* line 81, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.spriteTile .label {
  background-color: #424242;
  color: white;
  opacity: .8; }

/* line 90, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.blocks .md-accent path, .blocks .md-accent line, .blocks .md-accent text {
  stroke: #f57c00; }

/* line 93, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.blocks .md-accent div {
  color: #f57c00; }

/* line 96, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_colors.scss */
.blocks .md-accent path, .blocks .md-accent line {
  stroke-width: 2px; }

/* line 2, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
[unselectable] {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none; }

/* line 9, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
[selectable] {
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: text;
  -o-user-select: all;
  user-select: all; }

/* line 17, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer; }

/* line 19, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
img.icon {
  height: 20px;
  width: auto;
  margin-left: 6px;
  cursor: pointer; }

/* line 28, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
pre {
  font-family: anonymousPro; }

/* line 32, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
img:not(.action) {
  pointer-events: none; }

/* line 36, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
input.reset[type=button] {
  box-shadow: 0 0 0 0;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 7px;
  cursor: pointer; }

/* line 48, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_general.scss */
.spriteTile {
  background-size: cover; }

/* line 1, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_input.scss */
input.ng-dirty.ng-invalid {
  box-shadow: 0 0 2.8px red; }

/* line 2, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
.runProject.large {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh; }
  /* line 10, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
  .runProject.large .inner {
    position: relative; }
    /* line 13, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
    .runProject.large .inner .player {
      width: 100vw;
      height: 100vh;
      border: 0; }

/* line 22, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
.runProject.small .inner {
  position: relative;
  width: 100%; }
  /* line 26, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
  .runProject.small .inner:before {
    content: "";
    display: block;
    padding-top: 100%; }
  /* line 32, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
  .runProject.small .inner .player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  /* line 40, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
  .runProject.small .inner .playPause {
    position: absolute;
    bottom: -15px;
    right: -20px; }

/* line 49, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
.runProject .inner .player {
  border: none;
  height: 100%;
  width: 100%; }

/* line 57, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_layout.scss */
.header .minimize, .header .maximize {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px; }

/* line 2, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_mainHeader.scss */
header.maximized {
  padding: 5px 0 30px 0;
  margin-bottom: 100px; }
  /* line 7, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_mainHeader.scss */
  header.maximized nav a {
    font-size: 1.5em; }

/* line 13, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_mainHeader.scss */
header.minimized {
  margin: 5px 0 10px 0; }
  /* line 16, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_mainHeader.scss */
  header.minimized h1 {
    font-size: 3.5em;
    margin: 0; }

/* line 22, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_mainHeader.scss */
header nav {
  text-align: right;
  font-size: 1em; }
  /* line 26, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_mainHeader.scss */
  header nav a {
    padding: 0 10px 0 10px; }

/* line 2, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
.runProject.large {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh; }
  /* line 10, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
  .runProject.large .inner {
    position: relative; }
    /* line 13, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
    .runProject.large .inner .player {
      width: 100vw;
      height: 100vh;
      border: 0; }

/* line 22, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
.runProject.small .inner {
  position: relative;
  width: 100%; }
  /* line 26, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
  .runProject.small .inner:before {
    content: "";
    display: block;
    padding-top: 75%; }
  /* line 32, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
  .runProject.small .inner .player {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  /* line 40, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
  .runProject.small .inner .playPause {
    position: absolute;
    bottom: -15px;
    right: -20px; }

/* line 49, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
.runProject .inner .player {
  border: none;
  height: 100%;
  width: 100%; }

/* line 57, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_runProject.scss */
.header .minimize, .header .maximize {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px; }

/* line 3, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_tooltip.scss */
[tooltip] {
  position: relative;
  cursor: pointer; }

/* line 8, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_tooltip.scss */
[tooltip]:hover::after {
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 150%;
  border-radius: 5px 5px 5px 0;
  color: white;
  font-size: 14px;
  left: 0;
  content: attr(tooltip);
  padding: 5px;
  overflow: visible;
  position: absolute;
  width: 200px;
  z-index: 999999999; }

/* line 23, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_tooltip.scss */
[tooltip]:hover::before {
  bottom: calc(150% - 7px);
  border-top: 8px solid rgba(0, 0, 0, 0.8);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  color: rgba(0, 0, 0, 0.8);
  left: -1px;
  position: absolute;
  z-index: 999999999; }

/* line 1, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
h1, h2, h3, p {
  font-family: "Merriweather"; }

/* line 4, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
h1 {
  font-size: 4em;
  text-align: center; }

/* line 8, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
h2 {
  font-size: 1.5em; }

/* line 12, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.sprites h1 input {
  font-size: .4em; }

/* line 16, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
h3 span {
  font-size: .5em;
  font-weight: normal; }

/* line 22, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.markdown-body h1, .markdown-body h2, .markdown-body h3 {
  text-align: left; }

/* line 27, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.unemphasize {
  color: gray; }

/* line 30, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.hidden {
  display: none; }

/* line 34, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
code {
  padding: 1px 6px 1px 6px;
  border-radius: 2.5px;
  font-family: "Anonymous Pro"; }

/* line 40, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.contentPage {
  font-size: 1.1em; }

/* line 45, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.editor-page .spriteTile {
  font-size: 11px; }
  /* line 48, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
  .editor-page .spriteTile .label {
    display: flex;
    align-items: center; }

/* line 57, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.blocks .parent .md-button {
  font-size: 11px; }

/* line 61, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
.blocks .child {
  font-size: 15px; }
  /* line 64, /Users/DanielFranklin/Desktop/etch/etchcode/static/styles/_typography.scss */
  .blocks .child .snapBlock {
    cursor: pointer; }

/*# sourceMappingURL=base.css.map */