.colorInput{
	bottom: 5px;
	position: absolute;
	right: 5px;
}

.colorPicker.icon{
	float: right;
	height: 50px;
	width: 50px;
}

.colorpickerContainer{
	margin-right: 50px;
	width: 200px;
}

.colorpickerValue{
	background: hsla(0, 100, 100, .4);
	border: 0;
	margin-bottom: 7px;
	padding: 5px;
	text-align: center;
	width: 200px;
}