.markdown-body
    h1, h2, h3
        text-align: left

.CodeMirror
    font-size: 12px
    font-family: Source Code Pro

.contentPage
    // the main element of a page that should be styled as content, like a blog post or article
    font-size: 1.1em

.editor-page
    .spriteTile
        font-size: 11px
    .footer
        display: flex
        align-items: center

.blocks
    .parent
        .md-button
            font-size: 11px
    .child
        font-size: 15px
        .snapBlock
            cursor: pointer
    
md-dialog
    .md-subheader .md-subheader-inner
        padding-left: 0
        
.errorMessage
    font-size: 70%