h1, h2, h3, p{
	font-family: "Merriweather";
}
h1{
	font-size: 4em;
	text-align: center;
}

h3 span{
	font-size: .5em;
	font-weight: normal;
}

.markdown-body{
	h1, h2, h3{
		text-align: left;
	}
}

.unemphasize{
	color: hsl(0, 0%, 50%);
}
.hidden{
	display: none;
}

code{
	padding: 1px 6px 1px 6px;
	border-radius: 2.5px;
	font-family: "Anonymous Pro";
}