<md-content class="account-page" ng-controller="accountController as account">
    <md-card>
        <md-card-content>
            <form name="account_form">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input disabled required ng-model="current_user.profile.email" name="email">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Name</label>
                    <input required ng-model="current_user.profile.name" name="name">
                </md-input-container>

                <md-button ng-click="save()" class="md-primary md-raised">Save</md-button>
            </form>
        </md-card-content>
    </md-card>
</md-content>
