<md-dialog class="signup_dialog">
    <form name="signup_form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Signup</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="content">
                <md-input-container>
                    <label>username</label>
                    <input required ng-model="user_data.username">
                </md-input-container>
                <md-input-container>
                    <label>name</label>
                    <input required ng-model="user_data.name">
                </md-input-container>
        </md-dialog-content>
        <md-dialog-actions class="actions" layout="row">
            <md-button class="md-primary" ng-click="complete_signup()">Complete Signup</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
