<!DOCTYPE html>
<html ng-app="webapp" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<base href="/static/editor/">

    <title>Project Editor | Etch</title>

    <link href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/general.css">

    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/darkTheme.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/theme/ambiance.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.js"></script>
	<script src="/static/libs/ui-codemirror.min.js"></script>
	<script src="/static/libs/nunjucks.min.js"></script>

    <script src="defaults.js"></script>
    <script src="main.js"></script>
    <script src="sprites.js"></script>
    <script src="editor.js"></script>
	<script src="syntaxHighlighter.js"></script>
    <script src="editableImage.js"></script>
	<script src="render.js"></script>
    <script src="buildButton.js"></script>

    <script src="/static/name/random.js"></script>
</head>

<body ng-controller="spritesController as sprites" class="container-fluid" unselectable>

    <toaster-container><!-- This is where the notifications go --></toaster-container>

    <run-project></run-project>
  
    <div class="parent header">
        <div class="left header">

			<h1>
				<input ng-model="sprites.list[sprites.list.length-1].name">
			</h1>
			
            <span class="tabs" ng-controller="editorsController as editors">
					<input type="button" value="Code" ng-class="{enabled:editors.service.view === 'code'}" ng-click="editors.service.view = 'code'" ng-hide="sprites.current=='general'"> <!--the globals view can only modify config stuff-->
					<input type="button" value="Settings" ng-class="{enabled:editors.service.view === 'settings' || sprites.current === 'general'}" ng-click="editors.service.view = 'settings'">
				</span>

        </div>
        <div class="right header">

            <h1>Etch Code</h1>

        </div>
    </div>

    <div id="editors" ng-controller="editorsController as editors">
        <div id="code" ng-show="editors.service.view === 'code'" ng-hide="sprites.current === 'general'" selectable>
            <editor ng-repeat="sprite in sprites.list" ng-show="sprites.current === sprite.id" sprite="{{ sprite }}"></editor>
        </div>

        <div id="settings" ng-show="editors.service.view === 'settings' || sprites.current === 'general'">
            <div class="setting" ng-repeat="sprite in sprites.list" ng-show="sprites.current === sprite.id">
                <h2>Settings</h2>
                <form novalidate>

                    <input type="text" ng-model="sprite.id" ng-change="sprites.current = sprite.id" ng-show="sprite.id !== 'background' && sprite.id !=='general'" required><span ng-show="sprite.id === 'background'">Background</span><span ng-show="sprite.id === 'general'">General</span>: {

					<p ng-show="sprite.id === 'general'" class="indent">
						Project Name: <input ng-model="sprite.name">
					</p>
								
                    <div ng-hide="sprite.id ==='general' || sprite.id ==='background'" class="indent">
                        <p>X Position:
                            <input type="number" ng-model="sprite.x" ng-pattern="/^[0-9]+$/">,</p>
                        <p>Y Position:
                            <input type="number" ng-model="sprite.y" ng-pattern="/^[0-9]+$/">,</p>
                    </div>
					
                    <div ng-hide="sprite.id === 'general'" class="indent">
						<span ng-show="sprite.id === 'background'">backdrops</span>
						<span ng-show="sprite.id !== 'background'">costumes</span>: [
						
                        <div class="costume" ng-repeat="costume in sprite.costumes">
                            {
                            <img ng-click="sprites.costume.remove(sprite,costume)" src="/static/icons/remove_white.svg" class="remove icon">
                            <p>image:
                                <editable-image data="costume.data"></editable-image>,
							</p>
                            <p class="name">name:
                                <input type="text" ng-model="costume.name">,
							</p>
                            }
                        </div>

                        <input class="new" type="button" value="New" ng-click="sprites.costume.create(sprite)">
						<br>
						],
					</div>

					<p ng-show="sprite.id === 'general'" class="indent">
                        Thumbnail:
                        <editable-image data="sprite.thumbnail"></editable-image>
                    </p>

                    <div class="indent">
                        <p>variables<span ng-show="sprite.id === 'general'"> (for all sprites)</span>: [</p>
                        <ul class="variables">
                            <li ng-repeat="variable in sprite.variables" class="indent">
                                <img ng-click="sprites.variable.remove(sprite,variable)" src="/static/icons/remove_white.svg" class="remove icon">{{ variable }},</li>
                        </ul>

                        <p class="indent">
                            <input type="text" ng-model="sprites.variable.creating">
                            <input type="button" value="Create" ng-click="sprites.variable.create(sprite, sprites.variable.creating)">
                        </p>
                        <br>],
                    </div>

                    }
                </form>
            </div>
        </div>

    </div>

    <div id="sidebar">
        <h2>Sprites <img ng-click="sprites.add()" src="/static/icons/add_black.svg" class="add icon"></h2>
        <ul id="sprites">
            <sprite ng-repeat="sprite in sprites.list" ng-class="{enabled: sprites.current === sprite.id}"></sprite>

        </ul>

        <div class="build" ng-controller="buildButtonController as buildButton">
            <input type="button" value="Run" ng-click="buildButton.render()">
			
			<!-- TODO: Implement save functionality in dropdown
				<input type="button" value="V" ng-click="buildButton.dropdown = !buildButton.dropdown;">

				<ul class="dropdown" ng-show="buildButton.dropdown">
					<input type="button" value="Save">
				</ul>
			-->
			
        </div>
    </div>

</body>

</html>